*.log
bin/Debug/NLog.config
bin/Debug/NLog.xml
bin/Debug/NLog.dll
bin/Debug/TextureAtlas.exe
bin/Debug/TextureAtlas.exe.config
bin/Debug/TextureAtlas.pdb
bin/Debug/TextureAtlas.vshost.exe
bin/Debug/TextureAtlas.vshost.exe.config
bin/Debug/TextureAtlas.vshost.exe.manifest
bin/Release/TextureAtlas.exe.config
bin/Release/TextureAtlas.vshost.exe
bin/Release/TextureAtlas.vshost.exe.config
bin/Release/TextureAtlas.vshost.exe.manifest
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/TextureAtlas.csproj.FileListAbsolute.txt
obj/Debug/TextureAtlas.csproj.GenerateResource.Cache
obj/Debug/TextureAtlas.csprojResolveAssemblyReference.cache
obj/Debug/TextureAtlas.exe
obj/Debug/TextureAtlas.g.resources
obj/Debug/TextureAtlas.pdb
obj/Debug/TextureAtlas.Properties.Resources.resources
obj/Debug/TextureAtlas_Content.g.cs
obj/Debug/TextureAtlas_Content.g.i.cs
obj/Debug/TextureAtlas_MarkupCompile.cache
obj/Debug/TextureAtlas_MarkupCompile.i.cache
obj/Release/App.g.i.cs
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/MainWindow.g.i.cs
obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Release/TextureAtlas.csproj.FileListAbsolute.txt
obj/Release/TextureAtlas_MarkupCompile.i.cache